.button {
  display: block;
  background-color: @basic_green;
  font-family: @oswald-fnt;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @white-txt;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border: none;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    color: @white-txt-opacity;
  }
}

.button--more {
  font-size: 16px;
  line-height: 20px;
  background-color: @basic_grey;
  color: @special_dark-grey;

  &:hover {
    background-color: @background-grey-2;
  }

  &:active {
    color: @special_dark-grey-opacity;
  }
}

