.example {

  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    background-image:  linear-gradient(@white-txt 57.3%,@basic_grey 57.3%);
  }
  @media (min-width: @desktop-width) {
    position: relative;
    background-color: transparent;
    background-image: none;
    background-image: linear-gradient(#ffffff 159px, #F2F2F2 159px);

    &::before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 159px;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: linear-gradient(90deg,#f2f2f2 calc(50% + 326px),#eaeaea calc(50% + 326px));

    }
  }

}

.example__wrapper {
  padding-bottom: 37px;

  @media (min-width: @tablet-width) {
    padding-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding: 0 110px;
    padding-bottom: 29px;
    padding-right: 70px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.example__container {
  padding: 27px 6.25%;
  padding-bottom: 0;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    padding: 0 3.9%;
    padding-top: 44px;
    margin-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 7.65%;
    padding-top: 23px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 27px;
  }
}

.example__before-after {
  @media (min-width: @desktop-width) {
    margin-top: -31px;
    width: 100%;
  }
}

.example__title {
  font-family: @oswald-fnt;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  display: block;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 147px;
  }
}

.example__text {
  font-family: @arial-fnt;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;
  display: block;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 67px;
  }
}

.example__listt {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    width: 570px;
  }
}

.example__def-wrapper {
  position: relative;
  border: 1px solid @border-bottom-2;
  border-radius: 3px;
  padding: 13px;
  padding-bottom: 17px;
  width: 44%;
  text-align: center;

  @media (min-width: @tablet-width){
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    padding: 14px 20px 19px;
    width: 22.88136%;
    text-align: center;
    margin-right: 5.9322%;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 58px;
    margin-right: 42px;
    width: 162px;
  }
}

.example__def-data {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: @special_dark-grey;
  text-align: center;
  text-transform: lowercase;
  display: block;
  width: 77px;
  background-color: @basic_grey;


  @media (min-width: @tablet-width) {
    margin: 0 auto;
    font-size: 14px;
    line-height: 14px;
    top: 62px;
    left: 0;
    right: 0;
    width: fit-content;
    max-width: 160px;
    padding: 0px 9px;
    background-color: @white-txt;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic_grey;
  }
}

.example__def-term {
  font-family: @oswald-fnt;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__cost-wrapper {
  display: flex;
  margin: 34px auto auto;

  @media(min-width: @tablet-width) {
    flex-direction: column;
    margin: auto 0 auto auto;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin: 0;
  }
}

.example__cost-data {
  font-family: @oswald-fnt;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  margin-right: 3px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: auto 0 auto auto;
    margin-bottom: 4px;
    margin-top: 4px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 64px;
  }
}

.example__image-container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding-top: 56px;
    margin-bottom: 19px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 39px;
  }
}

.example__image {
  display: block;
  margin-right: 9px;

  @media (min-width: @tablet-width) {
    width: auto;
    margin-right: 0;
  }
}

.example__footer {
  display: flex;
  justify-content: center;
  padding-left: 6.25%;
  padding-right: 6.25%;

  @media (min-width: @tablet-width)  {
    width: 570px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    margin-right: 41px;
  }
}

.example__label {
  font-family: "Oswald","Arial",sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #111;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 20px;
      border-bottom: 1px dotted #cdcdcd;
      padding-bottom: 6px;
    }
}

.slider {
  position: relative;
  width: 30%;
  margin: 0 18px;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 428px;
  }
}

.slider__scale {
  height: 14px;
  border: 1px solid #cdcdcd;
  background-color: #fff;
  border-radius: 5px;
  margin: 3px auto auto;

  @media (min-width: @tablet-width) {
    border: 0;
    height: 6px;
    background-color: #dcdcdc;
    border-radius: 3px;
    margin: 9px auto auto;
  }
}

.slider__toggle {
  transition: all .3s;
    position: absolute;
    border-radius: 5px;
    background-color: @basic_green;
    width: 35px;
    height: 6px;
    left: 5px;
    top: 7px;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      border-radius: 50%;
      border: 1px solid @border-bottom-2;
      background-color: @white-txt;
      width: 34px;
      height: 34px;
      left: 198px;
      top: -6px;
      cursor: pointer;

      &::before{
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: @basic_green;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
}

.example__list {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0 0 32px
}

.example__item {
	display: none
}

.example__label {
	font-family: "Oswald", "Arial", sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #111;
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
	cursor: pointer
}

.example__toogle--after:checked~.example__list .example__item:nth-child(2),
.example__toogle--before:checked~.example__list .example__item:nth-child(1) {
	display: flex;
  justify-content: center;
}

@media (min-width:@tablet-width) {

	.example__list {
		position: relative;
		padding: 0;
		width: 100%;
		height: 518px;
		list-style: none;
		margin: 0 0 19px
	}
	.example__item {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat
	}
	.example__item--before {
		width: 50%;
		z-index: 2;
		background-image: url(../img/before-tablet@2x.png), linear-gradient(0deg, #f2f2f2 348px, #fff 348px);
		background-repeat: no-repeat repeat;
		background-size: auto 518px;
		background-position-x: calc(28vw + 58%), right
	}
	.example__item--after {
		z-index: 1;
		background-image: url(../img/after-mobile@2x.png), linear-gradient(0deg, #f2f2f2 348px, #fff 348px);
		background-size: auto 518px;
		background-position-x: calc(61%)
	}
	.example__image {
		display: none
	}
	.example__label {
		font-size: 20px;
		line-height: 20px;
		border-bottom: 1px dotted #cdcdcd;
		padding-bottom: 6px
	}
	.example__label:hover {
		border-bottom: 1px solid #cdcdcd
	}
	.example__label:active {
		border-bottom: none
	}
}

@media (min-width:@desktop-width) {
	.example__list {
		position: relative;
		padding: 0;
		width: 100%;
		height: 518px;
		list-style: none;
		margin: 0 0 38px
	}
	.example__item {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat
	}
	.example__item--after,
	.example__item--before {
		background-size: auto 518px;
		background-position-x: 0
	}
	.example__item--before {
		width: 53%;
		background-repeat: no-repeat repeat;
		z-index: 2;
		background-image: url(../img/before-tablet@2x.png), linear-gradient(0deg, #f2f2f2 328px, #fff 328px)
	}
	.example__item--after {
		z-index: 1;
    background-position-x: 92px;
		background-image: url(../img/after-mobile@2x.png), linear-gradient(0deg, #eaeaea 328px, #fff 328px)
	}
}
