.form {
  padding: 0 6.25%;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.fildset-name__item {
  display: flex;
  align-items: center;
  font-family: @oswald-fnt;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.fildset-name__label {
  margin-right: 4.3%;
}

.fildset-name__input {
  margin: 0;
  padding: 0;
}

.fieldset-program {
  padding-top: 28px;
}

.fieldset-program__item {
  display: block;
  font-family: @oswald-fnt;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey-2;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.fieldset-cocntacts {
  padding-top: 26px;
}

.fieldset__title {
  font-family: @oswald-fnt;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 35px;
}

.fieldset-cocntacts__item {
  display: block;
  font-family: @oswald-fnt;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.fieldset-cocntacts__input {
  padding: 0;
  margin: 0;
}

.fieldset-comment__text {
  height: 151px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fieldset-additionally__item {
  display: block;
  font-family: @oswald-fnt;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.fieldset-button {
  margin-bottom: 21px;
}

.fieldset-required {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: center;
  margin-bottom: 32px;
}
