.form-selection {
  padding: 0 6.25%;
  padding-top: 27px;
}

.form-selection__title {
  font-family: @oswald-fnt;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  display: block;
  margin: 0;
  margin-bottom: 37px;
}

.form-selection__text {
  font-family: @oswald-fnt;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-bottom: 37px;
  width: 226px;
}
