.form-selection {
  padding: 0 6.25%;
  padding-top: 27px;

  @media(min-width: @tablet-width) {
    padding: 0 9%;
    padding-top: 53px;
  }

  @media(min-width: @desktop-width) {
    padding: 0;
    padding-top: 73px;
  }
}

.form-selection__title {
  font-family: @oswald-fnt;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  display: block;
  margin: 0;
  margin-bottom: 37px;

  @media(min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media(min-width: @desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 61px;
  }
}

.form-selection__text {
  font-family: @oswald-fnt;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-bottom: 38px;
  width: 226px;

  @media(min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    margin-bottom: 65px;
  }

  @media(min-width: @desktop-width) {
    width: 1300px;
    padding-right: 40px;
    padding-left: 40px;
    margin: -5px auto 0;
    margin-bottom: 66px;
  }
}
