.gift__wrapper {
  padding: 35px 6.25%;
  background-image: url(../../img/gift-photo-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  margin-bottom: 35px;
}

.gift__text {
  display: block;
  font-family: "Aria", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: @white-txt;
  margin: 0;
  text-align: center;
}
