.how-it-works__wrapper {
  padding: 0 6.25%;
  padding-top: 7px;

  @media (min-width: @tablet-width) {
    padding: 0 4%;
    padding-top: 15px;
  }

}

.how-it-works__title {
  font-family: @oswald-fnt;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  display: block;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 72px;
  }
}

.how-it-works__list {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8%;
    row-gap: 89px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.how-it-works__item {
  font-family: @arial-fnt;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 80px;
  margin-bottom: 26px;
  list-style: none;
  color: @special_dark-grey;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: @basic_green;
    top: -2px;
    left: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    margin: 0;
    padding-top: 111px;
    padding-bottom: 44px;
    padding-left: 0;

    &::before {
      content: "";
      display: block;
      width: 80px;
      height: 80px;
      background-color: @basic_green;
      position: absolute;
      top: 0px;
    }
  }
}
