.main-nav {
  display: flex;
  flex-direction: column;
  font-family: @oswald-fnt;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__logo {
  display: block;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__item {
    @media (min-width: @tablet-width) {
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .main-nav__toggle,
  .main-nav__logo-energy {
    display: none;
  }
}



.main-nav__link {
  color: @black-txt;
  display: block;
  padding: 23px 0;
}
