.main-catalog {
  padding: 0 6.25%;
  padding-top: 27px;
}

.main-title {
  font-family: @oswald-fnt;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 41px;
}
