.main-nav {
  font-family: @oswald-fnt;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.main-nav-wrap {
  margin-bottom: 17.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__logo {
  display: block;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-nav__link {
  color: @black-txt;
  display: block;
  padding: 23px 0;
}


