.page-footer__wrapper {
  background-color: @basic_grey;
  padding: 0 6.25%;
  padding-top: 39px;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 60px 6.25%;
  }
}

.page-footer__contacts {
  padding: 27px 6.25%;
  display: flex;
  background-color: @basic_grey;
}

.footer__contacts--index {
  background-color: @white-txt;
}

.page-footer__slogan {
  font-family: @oswald-fnt;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin: 0;
}

.page-footer__adres {
  font-family: @arial-fnt;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @special_dark-grey;
  display: block;
  margin: 0;
}

.page-footer__logo {
  display: block;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social__item {
  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

.page-footer__copyright {
  padding: 28px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.copyiright__name {
  font-family: @arial-fnt;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;
  display: block;
}

.copyiright__img {
  text-align: center;
}

.social__link:hover path {
  fill: @basic_green;
}
