.page-footer__wrapper {
  background-color: @basic_grey;
  padding: 0 6.25%;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 60px 6.25%;
  }
}

.page-footer__contacts {
  padding: 30px 6.25%;
  display: flex;
  justify-content: space-between;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    padding: 67px 9.25%;
  }
}

.footer__contacts--index {
  background-color: @white-txt;
}

.page-footer__slogan {
  font-family: @oswald-fnt;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  width: 140px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 171px;
  }
}

.page-footer__adres {
  font-family: @arial-fnt;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @special_dark-grey;
  display: block;
  width: 140px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 22px;
    width: 159px;
    text-align: right;
  }
}

.page-footer__logo {
  display: block;
  padding-top: 34px;
  padding-bottom: 27px;
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.social__item {
  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

.page-footer__social {
  padding-top: 21px;
  padding-bottom: 15px;
  border-bottom: 1px solid #D9D9D9;
}

.page-footer__copyright {
  padding: 28px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.copyiright__name {
  font-family: @arial-fnt;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;
  display: block;
}

.copyiright__img {
  text-align: center;
}

.social__link {

  display: block;
}


.social__link:hover path {
  fill: @basic_green;
}
