.page-footer__wrapper {
  background-color: @basic_grey;
  padding: 0 6.25%;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 3.9%;
  }

  @media (min-width: @desktop-width) {

  }
}

.page-footer__contacts {
  padding: 27px 6.25%;
  display: flex;
  justify-content: space-between;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    padding: 65px 9.25%;
    padding-bottom: 60px;
  }
}

.footer__contacts--index {
  background-color: @white-txt;
}

.page-footer__slogan {
  font-family: @oswald-fnt;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  width: 140px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 171px;
  }
}

.page-footer__adres {
  font-family: @arial-fnt;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: @special_dark-grey;
  display: block;
  width: 140px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 159px;
    text-align: right;
  }
}

.page-footer__street {
  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 17px;
  }
}

.page-footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 27px;
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 3px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.social__item {
  @media (min-width: @tablet-width) {
    margin-right: 28px;
  }
}

.page-footer__social {
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.page-footer__copyright {
  padding: 29px 0 22px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.copyiright__name {
  font-family: @arial-fnt;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: @special_dark-grey;
  display: block;
}

.copyiright__img {
  text-align: center;
}

.social__link {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.social__link:hover path {
  fill: @basic_green;
}
