.program__wrapper {
  padding: 0 6.25%;

  @media (min-width:@tablet-width) {
    padding: 0 4%;
  }

  @media (min-width: @desktop-width) {
    padding: 0 7.6%;
  }
}

.program__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5.5%;
  }

  @media (min-width: @desktop-width) {
    grid-gap: 6.5%;
  }
}

.program__item {
  margin-bottom: 20px;
  padding: 0 7.14%;
  padding-top: 30px;
  padding-bottom: 22px;
  background-color: @basic_grey;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    padding: 0 7.3%;
    padding-top: 78px;
    padding-bottom: 57px;
    margin-bottom: 29px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding: 0 9.3%;
    padding-top: 77px;
    padding-bottom: 59px;
    margin-bottom: 0;
  }
}

.program__title {
  position: relative;
  font-family: @oswald-fnt;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  margin-left: 71px;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @basic_green;
    position: absolute;
    top: -6px;
    left: -69px;
  }

  @media (min-width: @tablet-width) {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  margin-bottom: 25px;
  margin-left: 0;

  &::before {
    width: 200px;
    height: 200px;
    right: 10px;
    left: auto;
    top: 15px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 74px;
    padding-left: 161px;

    &::before {
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: @basic_green;
      position: absolute;
      left: -0.2%;
      top: -84%;
      }
  }
}

.program__title--slim::after {
  content: "";
  position: absolute;
  display: block;
  width: 36px;
  height: 50px;
  background-image: url(../img/Vector-cat-slim.svg);
  background-repeat: no-repeat;
  top: -9px;
  left: -62px;

  @media (min-width: @tablet-width) {
    width: 140px;
    height: 194px;
    top: 4px;
    left: auto;
    right: 40px;
    background-size: contain;
  }

  @media (min-width: @desktop-width) {
    width: 71px;
    height: 97px;
    top: -36px;
    left: 3.2%;
    background-size: contain;
  }
}

.program__title--pro::after{
  content: "";
  position: absolute;
  display: block;
  width: 67px;
  height: 29px;
  background-image: url(../img/Vector-cat-pro.svg);
  background-repeat: no-repeat;
  top: 5px;
  left: -78px;

  @media (min-width: @tablet-width) {
    width: 268px;
    height: 112px;
    top: 58px;
    left: auto;
    right: -24px;
    background-size: contain;
  }

  @media (min-width: @desktop-width) {
    width: 134px;
    height: 56px;
    top: -10px;
    left: -4.2%;
    background-size: contain;
  }
}

.program__text {
  font-family: @arial-fnt;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: block;
  margin: 0;
  color: @special_dark-grey;
  padding-bottom: 22px;
  border-bottom: 1px solid @border-grey;

  @media (min-width: @tablet-width) {
    width: 344px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    border-bottom: none;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-bottom: 7px;
  }
}

.program__link {
  position: relative;
  display: block;
  font-family: @oswald-fnt;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: @black-txt;
  text-transform: uppercase;
  padding-top: 19px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    top: 26px;
    left: 100px;
    margin: auto;
    background-color: @black-txt;

    @media (min-width: @tablet-width) {
      top: 33px;
      left: 133px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    top: 21px;
    left: 118px;
    margin: auto;
    border: 6px solid transparent;
    border-left: 7px solid @black-txt;

    @media (min-width: @tablet-width) {
      top: 28px;
      left: 150px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 0;
  }
}
