.promo {
  background-image: url(../../img/promo-cat.jpg),linear-gradient(90deg,#68a941 50%,#63a73b 50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 302px;
  margin-bottom: 210px;
}

.promo__wrapper {
  padding: 0 6.25%;
}

.promo-appeal {
  padding-top: 27px;
  text-align: center;
}
.promo-title {
  font-family: @oswald-fnt;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: @white-txt;
  margin-bottom: 25px;
}

.promo-slogan {
  display: block;
  font-family: @oswald-fnt;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white-txt;
  margin: 0;
  margin-bottom: 29px;
}

