
@oswald-fnt: "Oswald", "Arial", sans-serif;
@arial-fnt: "Arial", sans-serif;


@black-txt: #000000;
@white-txt: #ffffff;
@white-txt-opacity: rgba(#ffffff, 0.3);
@background-grey: #EAEAEA;
@background-grey-2: #EBEBEB;

@special_dark-grey: #444444;
@special_dark-grey-opacity: rgba(#444444, 0.3);
@special_dark-grey-2: #222222;
@basic_green: #68B738;
@basic_green-2: #5EAA2F;
@basic_grey: #F2F2F2;
